.home-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 10%;
}


.text {
  width: 450px;
  float: left;
  margin-left: 100px;
}

.right {
  width: 450px;
  float: right;
  margin-right: 100px;
}

.square {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  align-items: center; 
  justify-content: center;
  /* margin-right: 100px; */
  /* border-width: 5px; */
  /* background-color: white; */
}

.first-question {
  margin-top: 20px;
  /* margin: 0 auto; */
  width: 350px;
  height: 50px;
}

.second-question {
  margin: 0 auto;
  width: 350px;
  height: 70px;
}

.upload-button {
  margin: 0 auto;
  width: 50%;
}

.last-button{
  margin: 0 auto;
} 