.example-card {
  max-width: 400px;
  /* height: fit-content; */
  display: flex;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.card-actions {
  display: flex;
  flex-direction: column;
}

.login-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}